@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800|Staatliches');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Pinyon+Script');

body {
    font-family: "Montserrat";
}

.fadeAnim {
    animation-name: fade;
    animation-duration: 2s;
}

h1 {
    z-index: 10000;
}

.slides {
    height: 100vh;
    width: 100vw;
}

.slide_1 {
    background: url(./images/landing.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.slide_2 {
    background: url(./images/ChristmasSkates.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.slide_3 {
    background: url(./images/iceShoes.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.slide_4 {
    background: url(./images/hangingSkates.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.centered {
    /* background-color: blue; */
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Staatliches";
    font-size: 8rem;
    line-height: 0.8;
}

.centered > h1 {
    font-family: "Pinyon Script";
    font-size: 10rem;
    line-height: 0.5;
    color: white;
}

.centered > span {
    color: rgb(58, 255, 189);
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.optionsContainer {
    width: 100vw;
    height: 36vh;
    background-color: rgb(29, 55, 100);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.optionsContainer > div > h1 {
    font-family: "Montserrat";
    font-weight: 700;
}

.pricing, .options {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.pricingOps, .options > a {
    margin: 0 30px;
}

a:hover {
    text-decoration: none;
}

footer {
    width: 100vw;
    height: 25vh;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fa {
    color: white;
    font-size: 25px;
    margin: 15px;
}

/* PORTRAIT MOBILE SCREENS */
@media only screen and (max-width: 414px) {
    .centered, .centered > h1 {
        font-size: 4.5rem;
    }

    .optionsContainer {
        height: 52vh;
    }

    .pricing, .options {
        flex-direction: column;
    }

    .options > a {
        margin: 5px 0;
    }
}

/* LANDSCAPE MOBILE SCREENS */
@media (max-width: 823px) and (min-width: 415px) {

}

/* DESKTOP SCREENS */

@media only screen and (min-width: 824px) {
    .optionsContainer {
        height: 18vh;
    }

    footer {
        height: 12vh;
    }
}

@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}







/* CONTACT PAGE */
/* CONTACT PAGE */
/* CONTACT PAGE */

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.contactLanding {
    width: 100vw;
    height: 88vh;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactForm {
    display: flex;
}

.contactP {
    width: 90%;
    word-wrap: break-word;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 20px;
    border: none;
}

textarea {
    width: 92.5%;
    margin: 8px 20px;
    padding: 12px 20px;
    resize: none;
    border: none;
}




/* RESERVATIONS PAGE */
/* RESERVATIONS PAGE */
/* RESERVATIONS PAGE */

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.reservationLanding {
    width: 100vw;
    height: 88vh;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reservationForm {
    display: flex;
}

.reservationP {
    width: 90%;
    word-wrap: break-word;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 20px;
    border: none;
}

textarea {
    width: 92.5%;
    margin: 8px 20px;
    padding: 12px 20px;
    resize: none;
    border: none;
}


/* PORTRAIT MOBILE SCREENS */
@media only screen and (max-width: 414px) {
    textarea {
        width: 90%;
        margin: 8px 16px;
    }

    input {
        width: 90%;
        margin: 8px 16px;
    }

    form {
        width: 75vw;
        padding: 65px 16px;
        display: flex;
        flex-direction: column;
    }

    .contactLanding {
        height: 616px;
        align-items: flex-start;
    }

    .contactForm {
        flex-direction: column;
    }

    .reservationLanding {
        height: 935px;
        align-items: flex-start;
    }

    .reservationForm {
        flex-direction: column;
    }

}

/* LANDSCAPE MOBILE SCREENS */
@media (max-width: 823px) and (min-width: 415px) {
    .contactLanding {
        width: 100vw;
        height: 552px;
        background-color: lightgray;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* DESKTOP SCREENS */

@media only screen and (min-width: 824px) {

}

/* @keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
} */

/* CONTACT PAGE */